*{
    margin: 0;
    padding: 0;
    font-family: 'Signika Negative', sans-serif;
}

body {
    background-color: #22227c;
}

.container {
    width: 70%;
    margin: auto;
    text-align: center;
}

.dice {
    text-align: center;
    display: inline-block;
}

img {
    width: 250px;
    margin-bottom: 20px;
    border-radius: 30px;
    margin-left: 50px;
    
}

h1 {
    margin: 30px;
    text-shadow: 5px 5px white;
    font-size: 6rem;
    color: #f6b93b;
}

p {
    font-size: 2rem;
    color: #00b894;
    text-shadow: 1px 1px white;
}

button {
    padding: 10px;
    border: none;
    color: white;
    background-color: #00b894;
    border-radius: 5px;
    margin-left: 40px;
    height: 40px;
    width: 100px;
}

